<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CirclePostMapper">

    <resultMap id="CirclePost" type="com.coolplay.system.system.model.CirclePostModel">
        <result property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
        <result property="postId" column="post_id"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,circle_id ,post_id ,c_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
	    </where>
	</sql>

	
	<select id="find" resultMap="CirclePost">
	    SELECT <include refid="columns"/> FROM d_circle_post 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CirclePost" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_circle_post
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

