<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CirclePostMapper">

    <resultMap id="CirclePost" type="com.coolplay.system.system.model.CirclePostModel">
        <result property="id" column="id"/>
        <result property="circleId" column="circle_id"/>
		<result property="postId" column="post_id"/>
		<result property="isTop" column="is_top"/>
		<result property="circleName" column="circle_name"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,circle_id ,post_id, is_top, c_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="postId != null">
				AND post_id = #{postId}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="CirclePost">
	    SELECT <include refid="columns"/> FROM d_circle_post 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CirclePost" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_circle_post
	        WHERE
		        id = #{id} 
	    ]]>
	</select>

	<select id="findByPostId" resultMap="CirclePost" >
		SELECT cp.circle_id, cp.post_id, cp.is_top, c.circle_name
		FROM d_circle_post cp
		INNER JOIN d_circle c ON cp.circle_id = c.id
		WHERE cp.post_id = #{postId}
	</select>

	<update id="updateTopByCirclePostInfo">
		UPDATE d_circle_post set is_top = #{isTop} WHERE post_id = #{postId}
		AND circle_id IN
			<foreach collection="circleIds" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</update>

	<update id="updateTopByPostId">
		UPDATE d_circle_post set is_top = #{isTop} WHERE post_id = #{postId}
	</update>
</mapper>

