<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.core.dao.RoleFunctionMapper">

    <resultMap id="CompanyRoleFunction" type="com.coolplay.system.core.model.RoleFunctionModel">
        <result property="roleId" column="role_id"/>
        <result property="functionId" column="function_id"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        role_id ,function_id
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="roleId != null">
				AND role_id = #{roleId}
			</if>
			<if test="functionId != null">
				AND function_id = #{functionId}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="CompanyRoleFunction">
	    SELECT <include refid="columns"/> FROM d_company_role_function 
		<include refid="findWhere"/>
    </select>

	<update id="delByRoleId">
		DELETE FROM d_company_role_function WHERE role_id = #{roleId}
	</update>
	
</mapper>

