<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.core.dao.RoleMapper">

    <resultMap id="SystemRole" type="com.coolplay.system.core.model.RoleModel">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="companyId" column="company_id"/>
        <result property="status" column="status"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
        id ,role_name , company_id, status ,c_time
	    ]]>
    </sql>

    <sql id="findWhere">
        <where>
            <if test="roleName != null">
                AND role_name = #{roleName}
            </if>
            <if test="companyId != null">
                AND company_id = #{companyId}
            </if>
        </where>
    </sql>

    <select id="findRoleMatchUpFunctions" resultType="java.util.Map">
        SELECT
          f.action AS function, r.id AS role
        FROM d_system_role r
        JOIN d_system_role_function rf ON r.id=rf.role_id
        JOIN d_system_function f on f.id=rf.function_id
        ORDER BY f.`sort`
    </select>

    <select id="selectById" resultMap="SystemRole">
        SELECT <include refid="columns"/> FROM d_system_role
        WHERE id = #{id}
    </select>

    <select id="find" resultMap="SystemRole">
        SELECT <include refid="columns"/> FROM d_system_role
        <include refid="findWhere"/>
    </select>

</mapper>

