<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gameword.user.user.dao.CityMapper">

    <resultMap id="City" type="com.gameword.user.user.model.CityModel">
        <result property="id" column="id"/>
        <result property="countryId" column="country_id"/>
        <result property="cityCn" column="city_cn"/>
        <result property="cityEn" column="city_en"/>
        <result property="code" column="code"/>
        <result property="contact" column="contact"/>
		<result property="email" column="email"/>
		<result property="isDel" column="is_del"/>
		<result property="isOnline" column="is_online"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="ctime" column="c_time"/>
        <result property="utime" column="u_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,country_id ,city_cn ,city_en ,code ,contact ,email, is_del, is_online, create_user_id ,update_user_id ,c_time ,u_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="cityCn != null">
				AND city_cn = #{cityCn}
			</if>
			<if test="cityEn != null">
				AND city_en = #{cityEn}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="contact != null">
				AND contact = #{contact}
			</if>
			<if test="email != null">
				AND email = #{email}
			</if>
			<if test="countryId != null">
				AND country_id = #{countryId}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="City">
	    SELECT <include refid="columns"/> FROM d_city 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="City" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_city
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

