<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gameword.user.user.dao.CountryMapper">

    <resultMap id="Country" type="com.gameword.user.user.model.CountryModel">
        <result property="id" column="id"/>
        <result property="countryCnName" column="country_cn_name"/>
        <result property="countryEnName" column="country_en_name"/>
        <result property="code" column="code"/>
		<result property="isDel" column="is_del"/>
		<result property="countryFlag" column="country_flag"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="ctime" column="c_time"/>
        <result property="utime" column="u_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,country_cn_name ,country_en_name ,code ,is_del, country_flag, create_user_id ,update_user_id ,c_time ,u_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="countryCnName != null">
				AND country_cn_name = #{countryCnName}
			</if>
			<if test="countryEnName != null">
				AND country_en_name = #{countryEnName}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="ids != null">
				AND id IN
				<foreach collection="ids" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Country">
	    SELECT <include refid="columns"/> FROM d_country 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Country" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_country
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

