<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gameword.user.user.dao.StationDetailMapper">

    <resultMap id="StationDetail" type="com.gameword.user.user.model.StationDetailModel">
        <result property="id" column="id"/>
        <result property="stationId" column="station_id"/>
        <result property="type" column="type"/>
        <result property="cityTitle" column="city_title"/>
        <result property="topicImg" column="topic_img"/>
        <result property="thumbImg" column="thumb_img"/>
        <result property="desc" column="desc"/>
        <result property="businessDesc" column="business_desc"/>
        <result property="travelDesc" column="travel_desc"/>
        <result property="educationDesc" column="education_desc"/>
        <result property="medicalDesc" column="medical_desc"/>
        <result property="specialtyDesc" column="specialty_desc"/>
        <result property="holidayDesc" column="holiday_desc"/>
        <result property="cultureDesc" column="culture_desc"/>
        <result property="foodDesc" column="food_desc"/>
        <result property="sportDesc" column="sport_desc"/>
        <result property="climateDesc" column="climate_desc"/>
        <result property="celebrityDesc" column="celebrity_desc"/>
        <result property="tipsDesc" column="tips_desc"/>
        <result property="ctime" column="c_time"/>
        <result property="utime" column="u_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,station_id ,type ,city_title ,topic_img ,thumb_img ,desc ,business_desc ,travel_desc ,education_desc ,medical_desc ,specialty_desc ,holiday_desc ,culture_desc ,food_desc ,sport_desc ,climate_desc ,celebrity_desc ,tips_desc ,c_time ,u_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="cityTitle != null">
				AND city_title = #{cityTitle}
			</if>
			<if test="topicImg != null">
				AND topic_img = #{topicImg}
			</if>
			<if test="thumbImg != null">
				AND thumb_img = #{thumbImg}
			</if>
			<if test="desc != null">
				AND desc = #{desc}
			</if>
			<if test="businessDesc != null">
				AND business_desc = #{businessDesc}
			</if>
			<if test="travelDesc != null">
				AND travel_desc = #{travelDesc}
			</if>
			<if test="educationDesc != null">
				AND education_desc = #{educationDesc}
			</if>
			<if test="medicalDesc != null">
				AND medical_desc = #{medicalDesc}
			</if>
			<if test="specialtyDesc != null">
				AND specialty_desc = #{specialtyDesc}
			</if>
			<if test="holidayDesc != null">
				AND holiday_desc = #{holidayDesc}
			</if>
			<if test="cultureDesc != null">
				AND culture_desc = #{cultureDesc}
			</if>
			<if test="foodDesc != null">
				AND food_desc = #{foodDesc}
			</if>
			<if test="sportDesc != null">
				AND sport_desc = #{sportDesc}
			</if>
			<if test="climateDesc != null">
				AND climate_desc = #{climateDesc}
			</if>
			<if test="celebrityDesc != null">
				AND celebrity_desc = #{celebrityDesc}
			</if>
			<if test="tipsDesc != null">
				AND tips_desc = #{tipsDesc}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="StationDetail">
	    SELECT <include refid="columns"/> FROM d_station_detail 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="StationDetail" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_station_detail
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

