<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CompanyMapper">

    <resultMap id="Company" type="com.coolplay.system.system.model.CompanyModel">
        <result property="id" column="id"/>
        <result property="companyFullName" column="company_full_name"/>
        <result property="companyName" column="company_name"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactAddress" column="contact_address"/>
        <result property="contactMobile" column="contact_mobile"/>
		<result property="companyDesc" column="company_desc"/>
		<result property="companyType" column="company_type"/>
        <result property="majorProject" column="major_project"/>
        <result property="companyEmail" column="company_email"/>
        <result property="legalName" column="legal_name"/>
        <result property="legalIdcard" column="legal_idcard"/>
        <result property="idcardPositivePhoto" column="idcard_positive_photo"/>
        <result property="idcardNegativePhoto" column="idcard_negative_photo"/>
        <result property="businessLicenseUrl" column="business_license_url"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="readCnt" column="read_cnt"/>
        <result property="status" column="status"/>
        <result property="rejectReason" column="reject_reason"/>
		<result property="isDel" column="is_del"/>
		<result property="adminUserName" column="admin_user_name"/>
		<result property="adminPassword" column="admin_password"/>
		<result property="ctime" column="c_time"/>
		<result property="utime" column="u_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,company_full_name ,company_name ,contact_name ,contact_address ,contact_mobile ,company_desc ,company_type, major_project ,company_email ,legal_name ,legal_idcard ,idcard_positive_photo ,idcard_negative_photo ,business_license_url ,review_status ,read_cnt ,status ,reject_reason ,is_del, admin_user_name, admin_password, c_time, u_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="companyFullName != null">
				AND company_full_name = #{companyFullName}
			</if>
			<if test="companyName != null">
				AND company_name = #{companyName}
			</if>
			<if test="contactName != null">
				AND contact_name = #{contactName}
			</if>
			<if test="contactAddress != null">
				AND contact_address = #{contactAddress}
			</if>
			<if test="contactMobile != null">
				AND contact_mobile = #{contactMobile}
			</if>
			<if test="companyDesc != null">
				AND company_desc = #{companyDesc}
			</if>
			<if test="majorProject != null">
				AND major_project = #{majorProject}
			</if>
			<if test="companyEmail != null">
				AND company_email = #{companyEmail}
			</if>
			<if test="legalName != null">
				AND legal_name = #{legalName}
			</if>
			<if test="legalIdcard != null">
				AND legal_idcard = #{legalIdcard}
			</if>
			<if test="idcardPositivePhoto != null">
				AND idcard_positive_photo = #{idcardPositivePhoto}
			</if>
			<if test="idcardNegativePhoto != null">
				AND idcard_negative_photo = #{idcardNegativePhoto}
			</if>
			<if test="businessLicenseUrl != null">
				AND business_license_url = #{businessLicenseUrl}
			</if>
			<if test="rejectReason != null">
				AND reject_reason = #{rejectReason}
			</if>
			<if test="ids != null">
				AND id IN
				<foreach collection="ids" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Company">
	    SELECT <include refid="columns"/> FROM d_company 
		<include refid="findWhere"/>
    </select>

	<select id="findCompanyById" resultMap="Company">
		SELECT <include refid="columns"/> FROM d_company where id = #{id}
	</select>
	
</mapper>

