<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CompanyUserRoleMapper">

    <resultMap id="CompanyUserRole" type="com.coolplay.system.system.model.CompanyUserRoleModel">
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
		<result property="roleName" column="role_name"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        user_id ,role_id 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
	    </where>
	</sql>

	
	<select id="find" resultMap="CompanyUserRole">
	    SELECT <include refid="columns"/> FROM d_company_user_role 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CompanyUserRole" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_company_user_role
	        WHERE
	    ]]>
	</select>

	<select id="findByUserId" resultMap="CompanyUserRole">
		SELECT ur.user_id ,ur.role_id, r.role_name FROM d_company_user_role ur
		INNER JOIN d_company_role r ON ur.role_id = r.id
		WHERE ur.user_id = #{userId}
	</select>
	
</mapper>

