<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CompanyUserMapper">

    <resultMap id="CompanyUser" type="com.coolplay.system.system.model.CompanyUserModel">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="displayName" column="display_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="deptId" column="dept_id"/>
        <result property="accountNonLocked" column="account_non_locked"/>
        <result property="accountNonExpired" column="account_non_expired"/>
        <result property="credentialsNonExpired" column="credentials_non_expired"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="enabled" column="enabled"/>
        <result property="lastPasswordReset" column="last_password_reset"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,company_id ,user_name ,password ,display_name ,contact_phone ,dept_id ,account_non_locked ,account_non_expired ,credentials_non_expired ,last_login_ip ,last_login_time ,is_admin ,enabled ,last_password_reset ,c_time 
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="userName != null">
				AND user_name = #{userName}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="displayName != null">
				AND display_name = #{displayName}
			</if>
			<if test="contactPhone != null">
				AND contact_phone = #{contactPhone}
			</if>
			<if test="lastLoginIp != null">
				AND last_login_ip = #{lastLoginIp}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="CompanyUser">
	    SELECT <include refid="columns"/> FROM d_company_user 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="CompanyUser" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_company_user
	        WHERE
		        id = #{id} 
	    ]]>
	</select>

	<delete id="delById">
		DELETE FROM d_company_user WHERE id = #{id}
	</delete>

	<select id="findByUserName" resultMap="CompanyUser">
		SELECT <include refid="columns"/>
		<![CDATA[
	        FROM d_company_user
	        WHERE
		        user_name = #{userName}
	    ]]>
	</select>

</mapper>

