<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coolplay.system.system.dao.CategoryMapper">

    <resultMap id="Category" type="com.coolplay.system.system.model.CategoryModel">
        <result property="id" column="id"/>
		<result property="catName" column="cat_name"/>
		<result property="catDesc" column="cat_desc"/>
        <result property="isDel" column="is_del"/>
        <result property="ctime" column="c_time"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,cat_name , cat_desc,is_del ,c_time
	    ]]>
	</sql>

	<sql id="findWhere">
	    <where>
			<if test="catName != null">
				AND cat_name = #{catName}
			</if>
			<if test="isDel != null">
				AND is_del = #{isDel}
			</if>
	    </where>
	</sql>

	
	<select id="find" resultMap="Category">
	    SELECT <include refid="columns"/> FROM d_category 
		<include refid="findWhere"/>
    </select>

	<select id="findById" resultMap="Category" >
	SELECT <include refid="columns"/>
	<![CDATA[
	        FROM d_category
	        WHERE
		        id = #{id} 
	    ]]>
	</select>
	
</mapper>

